* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: #fdcc32;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

html,
body,
#app {
  height: 100%;
}
