@layer base {
  body {
    @apply font-sans text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
  :focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary;
  }
}
